// Custom variables
$main-text-color: white;
$background-color: #181743;

//===========================
// Fonts
//===========================
$global-font-family: 'Work Sans', sans-serif;

//===========================
// Navbar
//===========================
$navbar-background: $background-color;

$navbar-nav-item-padding-horizontal: 30px;
$navbar-nav-item-color: white;
$navbar-nav-item-hover-color: white;
$navbar-nav-item-onclick-color: white;
$navbar-nav-item-active-color: white;

$navbar-item-color: white;

//===========================
// Logo
//===========================
$logo-color: white;
$logo-hover-color: white;

// Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";


// Custom mixin overwrites.
//===========================
// Navbar
//===========================
@mixin hook-navbar-nav-item-active(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

@mixin hook-navbar-nav-item-hover(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

//===========================
// Button
//===========================
@mixin hook-button(){
    border-radius: 40px;
}


// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


//Custom CSS
//===========================
// Global
//===========================
body{
    background: $background-color;
    color: white;
}

h1{
    color: white;
    font-size: 62px;
}

h2{
    color: #e65cd7;
}

.main-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

//===========================
// Navbar
//===========================
.nav-logo{
    width: 38%;
    height: auto;
}

