// Custom variables
$main-text-color: white;
$background-color: #181743;

//===========================
// Button
//===========================
$button-primary-background: #f70170;

//===========================
// Fonts
//===========================
@font-face {
    font-family: "Athelas";
    src:url("../fonts/Athelas-Regular.ttf");
}

//===========================
// Grid
//===========================
$grid-large-gutter-horizontal-l: 300px;
$grid-large-gutter-vertical-l: 100px;

$grid-medium-gutter-horizontal: 140px;
$grid-medium-gutter-vertical: 90px;

//===========================
// Logo
//===========================
$logo-color: white;
$logo-hover-color: white;

$global-font-family: 'Work Sans', sans-serif;
$base-heading-font-family: 'Athelas', serif;

//===========================
// Navbar
//===========================
$navbar-background: $background-color;

$navbar-nav-item-padding-horizontal: 30px;
$navbar-nav-item-color: white;
$navbar-nav-item-font-size: 1em;
$navbar-nav-item-font-family: 'Work Sans';
$navbar-nav-item-hover-color: white;
$navbar-nav-item-onclick-color: white;
$navbar-nav-item-active-color: white;

$navbar-item-color: white;


// Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";



// Custom mixin overwrites.
//===========================
// Navbar
//===========================
@mixin hook-navbar{
    text-transform: capitalize !important;
    font-weight: 500;
}

@mixin hook-navbar-nav-item-active(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

@mixin hook-navbar-nav-item-hover(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

//===========================
// Button
//===========================
@mixin hook-button(){
    font-size: 1.1em;
    width: 180px;
    border-radius: 40px;
}

//===========================
// Footer
//===========================
@mixin hook-modal-title(){
    color: $background-color !important;
}


// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


//Custom CSS
@import "uikit/src/scss/custom/global.scss";
@import "uikit/src/scss/custom/navbar.scss";
@import "uikit/src/scss/custom/landing.scss";
@import "uikit/src/scss/custom/about.scss";
@import "uikit/src/scss/custom/speakers.scss";
@import "uikit/src/scss/custom/schedule.scss";
@import "uikit/src/scss/custom/sponsors.scss";
@import "uikit/src/scss/custom/footer.scss";
