// Custom variables
$main-text-color: white;
$background-color: #181743;

//===========================
// Button
//===========================
$button-primary-background: #f70170;

//===========================
// Fonts
//===========================
@font-face {
    font-family: "Athelas";
    src:url("../fonts/Athelas.ttc");
}

//===========================
// Grid
//===========================
$grid-large-gutter-horizontal-l: 300px;
$grid-large-gutter-vertical-l: 100px;

$grid-medium-gutter-horizontal: 140px;
$grid-medium-gutter-vertical: 90px;

//===========================
// Logo
//===========================
$logo-color: white;
$logo-hover-color: white;

$global-font-family: 'Work Sans', sans-serif;
$base-heading-font-family: 'Athelas', serif;

//===========================
// Navbar
//===========================
$navbar-background: $background-color;

$navbar-nav-item-padding-horizontal: 30px;
$navbar-nav-item-color: white;
$navbar-nav-item-font-size: 1em;
$navbar-nav-item-font-family: 'Work Sans';
$navbar-nav-item-hover-color: white;
$navbar-nav-item-onclick-color: white;
$navbar-nav-item-active-color: white;

$navbar-item-color: white;


// Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";



// Custom mixin overwrites.
//===========================
// Navbar
//===========================
@mixin hook-navbar{
    text-transform: capitalize !important;
    font-weight: 500;
}

@mixin hook-navbar-nav-item-active(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

@mixin hook-navbar-nav-item-hover(){
    span{
        padding-top:2px;
        border-bottom: 2px solid $main-text-color;
    }
}

//===========================
// Button
//===========================
@mixin hook-button(){
    font-size: 1.1em;
    width: 180px;
    border-radius: 40px;
}


// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


//Custom CSS
//===========================
// Global
//===========================
body{
    background: $background-color;
    color: white;
    font-size: 1.05em;

    @media screen and (max-width: 640px) {
        font-size: 0.9em;
    }
}

h1{
    color: white;
    font-size: 3.5em;

    @media screen and (max-width: 640px) {
        font-size: 3em;
    }
}

h2{
    color: #e65cd7;
}

h3{
    color: white;
    font-size: 2.3em;
}

h4{
    color: white;
    font-size: 1.3em;
}

hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #ff007b, #910a65, #4b115e, #2b1c5d);
}

.hr-large{
    width: 50%;
}

.hr-medium{
    width: 35%;
}

.hr-small{
    width: 25%;
}

.main-container{
    //padding-top: 20px;
    padding-bottom: 40px;
}

.subtitle{
    letter-spacing: 12px;
    font-size: 1em;
    font-weight: 500;
}

.section-container{
    padding-top: 120px;
}

//===========================
// Navbar
//===========================
.nav-logo{
    width: 170px;
    height: auto;
}

.nav-mobile > li > a{
    padding: 0 14% !important;
    font-size: 0.8em !important;
}

//===========================
// Landing
//===========================
.landing-date{
    color: #e65cd7;
    font-size: 1.2em;
}

.ghost-button{
    background: transparent;
    border-color: #f70170;
    color: #f70170;
}

//===========================
// About
//===========================
.about-container{
    padding-top: 70px;
    padding-bottom:70px;
}

.about-header{
    margin-top: 0px;
}

.about-date{
    color: #e65cd7;
    font-size: 1em;
}

//===========================
// Speakers
//===========================
.speaker-container{
    padding-top: 30px;
}

.speaker-header{
    font-size: 55px;
}

.speaker-social-icon{
    max-width: 48px;
    max-height: auto;
    margin-left: 20px;

    @media screen and (max-width: 640px) {
        margin-left: 0;
        margin-right: 20px;
    }
}

//===========================
// Schedule
//===========================
.schedule-container{
    padding-top: 40px;
}

.schedule-header{
    font-size: 2.6em;
    padding: 0;
    margin:0;
}

.schedule-date{
    font-size: 1.1em;
    color: #e65cd7;
}

.schedule-day{
    letter-spacing: 8px;
    font-size: 1.45em;
    font-weight: 500;
}

.schedule-day-number{
    font-size:3.3em;
    font-weight: bold;
}

.timeline-text-container{
    margin-bottom: 50px;
}

.timeline-header{
    margin:0;
}

.timeline-period{
    font-size: 1.3em;
    margin-bottom: 20px;
}

.timeline-circle{
    max-width: 70%; 
    max-height: auto;
}

.workshop-box-container{
    background-image: linear-gradient(to bottom, #990099, #cc00ff);
}

.workshop-box{
    margin: 0 24px;
}

.workshop-header{
    margin:0;
    padding-top: 20px;
}

.workshop-subtitle{
    color: black;
}

.workshop-description{
    margin-bottom:20px;
}

//===========================
// Sponsors
//===========================
.sponsors-logo{
    margin-top:10px;
    margin-bottom:10px;
    max-width: 65%;
    height: auto;
}

.sponsors-second-col{
    margin-top:20px !important;
}

//===========================
// Footer
//===========================
.footer-hr{
    background: linear-gradient(to right, #999999, rgba(255,0,0,0));
}

.footer-subtitle{
    @media screen and (max-width: 640px) {
        font-size: 0.7em;
    }
}

.footer-header{
    @media screen and (max-width: 640px) {
        font-size: 2.3em;
        margin-top: 10px;
    }
}

.footer-button-container{
    padding-top: 20px;
}

.footer-button-div{
    padding-right: 12px;
}

.footer-button-mobile{
    font-size: 1em;
    width: 150px;
    height: auto;
}

.footer-social-icon{
    max-width: 48px;
    max-height: auto;
    padding-left: 0;
    padding-right: 12px;

    @media screen and (min-width: 960px) {
        max-width: 72px;
        padding-right: 48px;
        padding-top: 36px;
    }
}

.footer-bottom-container{
    padding-bottom: 0; 
    margin-bottom: 0;
}

.footer-presenter-container{
    padding-top: 120px
}

.footer-made-by{
    margin-top: 120px;
}